<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earlham Park Hotel</title>
    <link rel="stylesheet" href="../public/assets/css/booking.css">
    <script src="" defer></script>
</head>
<body>
    <!-- <p>This is "my booking" page for customers</p> -->
    <div>
        <header>
           <!--please copy from index.html -->
        </header>
        <main>
            <section class="mybook">
                <h1></h1>
                <h2>Booking details</h2>
                <p class="mybook-indication"></p>
                <article class="mybook">
                    <div class="mybook-contents details">
                        <table class="search-results">
                            <p>Basic information</p>
                            <tr>
                                <th>Booking ref no</th>
                                <th>Check In date</th>
                                <th>Check Out date</th>

                            </tr>
                            <tr>
                                <td id="booking-ref"></td>
                                <td id="check-in"></td>
                                <td id="check-out"></td>
                            </tr>
                        </table>
                        <table class="search-results">
                            <p>Room information</p>
                            <tr>
                                <th>Room no</th>
                                <th>Room type</th>
                                <!-- <th>Room status</th> -->
                                <th>Notes</th>
                            </tr>
                            <tr>
                                <td id="room-no"></td>
                                <td id="room-type"></td>
                                <!-- <td id="room-status"></td> -->
                                <td id="room-notes"></td>
                            </tr>
                        </table>
                        <table class="search-results">
                            <p>Customer information</p>
                            <tr>
                                <th>Customer no</th>
                                <th>Customer name</th>
                                <!-- <th>Email address</th>
                                <th>Address</th> -->
                            </tr>
                            <tr>
                                <td id="customer-no"></td>
                                <td id="customer-name"></td>
                                <!-- <td id="email-address"></td>
                                <td id="address"></td> -->
                            </tr>
                        </table>
                        <table class="search-results">
                            <p>Payment information</p>
                            <tr>
                                <th>Cost</th>
                                <th>Outstanding</th>
                            </tr>
                            <tr>
                                <td id="cost"></td>
                                <td id="outstanding"></td>
                            </tr>
                        </table>
                        <div>
                            <p id="booking-notes">Notes</p>
                            <p class="booking-notes"></p>
                        </div>

                        <form action="">
                            <div class="btn-grid">
                                <label>
                                    <a href="5-1my-bookings.html" class="recep-btn">Back</a>
                                </label>
                                <label>
                                    <p class="recep-form-p-submit">
                                        <input type="submit" value="Change Booking">
                                    </p>
                                </label>
                                <!-- <label>
                                    <p class="recep-form-p-submit">
                                        <input type="submit" value="Payment & Check Out">
                                    </p>
                                </label> -->
                            </div>
                        </form>
                    </div>
                </article>
            </section>
        </main>
    </div>
</body>
</html>