<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earlham Park Hotel - Reception</title>
    <link rel="stylesheet" href="/css/booking.css">
    <script src="/js/reception.js" defer></script>
</head>
<body>
    <!-- <p>This is the reception page</p> -->
    <div>
        <header>
           <!--please copy from index.html -->
        </header>
        <main>
            <section class="recep">
                <h1>Reception page</h1>
                <h2>Search Form for Booking details</h2>
                <p class="recep-indication">Input search infomation in below and click search icon.</p>
                <article class="recep">
                    <form action="" method="POST" class="recep-form" id="form">
                        <p class="recep-form-p">
                            Booking Reference No. <br>
                            <input type="text" inputmode="numeric" pattern="[0-9]{5}" name="booking-ref" id="booking-ref">
                        </p>
                        <p class="recep-form-p">
                            Customer Name <br>
                            <input type="text" name="customer-name" id="name">
                        </p>
                        <p class="recep-form-p">
                            Customer Email Adress <br>
                            <input type="email" name="customer-email" id="email">
                        </p>
                        <p class="recep-form-p">
                            Room No. <br>
                            <input type="text" inputmode="numeric" pattern="[0-9]{3}" name="room-no" id="room-no">
                        </p>
                        <label>
                            <p class="recep-form-p-submit">
                                <input type="submit" value="Search">
                            </p>
                        </label>
                    </form>
                </article>
            </section>
        </main>
    </div>
</body>
</html>