<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Modal</title>
    <link rel="stylesheet" href="css/modal.css">
  </head>
  <body>
   
    <button data-modal-target="modal1" id="btn1">Show Modal 1</button>
    <button data-modal-target="modal2" id="btn2">Show Modal 2</button>
    <button data-modal-target="modal3" id="btn3">Show Modal 3</button>
    <button data-modal-target="modal4" id="btn4">Show Modal 4</button>
    <button data-modal-target="modal5" id="btn5">Show Modal 5</button>
    <button data-modal-target="modal6" id="btn6">Show Modal 6</button>
    <button data-modal-target="modal7" id="btn7">Show Modal 7</button>
    <button data-modal-target="modal8" id="btn8">Show Modal 8</button>
  
    
    <div class="modal" id="modal1"> 
      <div class="modal-content"> 
        <span class="modal-close">&times;</span>
        <h1>Superior Double</h1>
        <img class="modalimages" src="image1.jpeg">
        <figcaption> Our premium offering for when you want to spoil yourself and your special people</figcaption> 
        <div class="container"> 
        <div class="column">
          <br>
        
          <ul>
          <li> 550 Sq feet </li>
          <li> Premium Double Bed </li>
          <li> Mini Fridge </li>
          
          </div>
          <div class="column">
            <h2>  </h2>
            <ul><br> 
            <li> Luxurious & Modern Bathroom </li>
            <li> 50 inch LED TV </li>
            </div>
            <div class="column">
              <h2>  <br> Price <br> £88/night </h2>
              
              </div>
        </div>
        </div>
    </div>
 
  <div class="modal" id="modal2"> 
    <div class="modal-content"> 
      <span class="modal-close">&times;</span>
      <h1>Standard Double</h1>
      <img class="modalimages" src="image1.jpeg"> 
      <div class="container"> 
      <div class="column">
        <br>
        
        <ul>
        <li> 520 Sq feet </li>
        <li> Classic Double Bed </li>
        <li> Mini Fridge </li>
        
        </div>
        <div class="column">
          <h2>  </h2>
          <ul><br> 
          <li> Spacious Bathroom </li>
          <li> 45 inch LED TV </li>
          </div>
          <div class="column">
            <h2> <br> Price <br> £45/night  </h2>
            
            </div>
    </div>
  </div>
</div>

<div class="modal" id="modal3"> 
  <div class="modal-content"> 
    <span class="modal-close">&times;</span>
    <h1>Superior Twin</h1>
    <img class="modalimages" src="image1.jpeg"> 
    <div class="container"> 
    <div class="column">
      <br>
        
      <ul>
      <li> 450 Sq feet </li>
      <li> Classic Twin Beds </li>
      <li> Mini Fridge </li>
      
      </div>
      <div class="column">
        <h2>  </h2>
        <ul><br> 
        <li> Luxurious & Modern Bathroom </li>
        <li> 42 inch LED TV </li>
        </div>
        <div class="column">
          <h2> <br> Price <br> £55/night </h2>
          
          </div>
  </div>
</div>
</div>

   
<div class="modal" id="modal4"> 
<div class="modal-content"> 
  <span class="modal-close">&times;</span>
  <h1>Superior Double</h1>
  <img class="modalimages" src="image1.jpeg"> 
  <div class="container"> 
  <div class="column">
    <br>
        
      <ul>
      <li> 420 Sq feet </li>
      <li> Classic Twin Beds </li>
      <li> Mini Fridge </li>
      
      </div>
      <div class="column">
        <h2>  </h2>
        <ul><br> 
        <li> Luxurious & Modern Bathroom </li>
        <li> 40 inch LED TV </li>
        </div>
        <div class="column">
          <h2> <br> Price <br> £45/night </h2>
          
          </div>
</div>
</div>
</div>


    </div>
    <div class="modal" id="modal5"> 
      <div class="modal-content"> 
        <span class="modal-close">&times;</span>
        <h1>Gym</h1>
        <img class="modalimages" src="gym.jpg"> 
        <br>
        <figcaption> <br> Our state-of-the-art gym comes with the latest cardio machines and a full 50 piece weight set to help you keep in shape on your travels. <br> After your session, cleanse your spirit in our sauna room!</figcaption>
        <div class="container"> 
      </div>
    </div>
  </div>
  <div class="modal" id="modal6"> 
    <div class="modal-content"> 
      <span class="modal-close">&times;</span>
      <h1>Bar</h1>
      <img class="modalimages" src="bar.jpg"> 
      <br>
      <figcaption> <br> Wind down after a long day with tailor made cocktails courtesy of our exceptional bartenders</figcaption>
      
    </div>
  </div>
</div>


<div class="modal" id="modal7"> 
  <div class="modal-content"> 
    <span class="modal-close">&times;</span>
    <h1>Restaurant</h1>
    <img class="modalimages" src="food.jpg">
    <figcaption> <br> Our restaurant offers the finest cuisne from around the world. A different menu for every night means you will always have new things to try.</figcaption> 
    
  </div>
</div>
</div>
  </div>
  <div class="modal" id="modal8">
    <div class="modal-content">
      <span class="modal-close">&times;</span>
      <h1>Conference Hall</h1>
      <img class="modalimages" src="hall.jpg">
      <figcaption> <br> Your event deserves the very best. Our 500 seater hall room , complete with a premium sound system, is perfect for annual dinners, award ceremonies or large-scale meetings and conferences.</figcaption>
     
    </div>
    <script src="js/modal.js"></script>
  </body>



