<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earlham Park Hotel - Payment Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/62765ee528.js" crossorigin="anonymous"></script>
    <script src="/js/get_price.js" defer></script>
  </head>
  <!-- header -->

  <!-- body -->
  <body>

    <!-- nav -->
    <div class="navigation">

      <!-- nav container -->
      <div class="container">

        <!-- nav logo -->
        <div class="navigation__logo">
          <img src="/img/Earlham_logo2-nav.png" alt="earlham-logo">
        </div>
        <!-- nav log -->

        <!-- colapssible navbar using checkbox hack -->
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        
        <!-- nav links. collapses in mobile view when clicked -->
        <div class="navigation__collapse">
          <div class="navigation__brand">
            <h2>Earlharm Park Hotel</h2>
            <span class="address"
              ><i class="fa-solid fa-location-dot"></i> Earlham Park, Norwich,
              NR47TQ</span
            >
            <span class="contact">
              <i class="fa-solid fa-phone"></i> + 44 74 0477 3200
            </span>
          </div>
          <div class="navigation__links">
            <ul>
              <li class="navigation__item">
                <a href="#" class="navigation__link">Home</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link">Booking Ref</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link">Facilities</a>
              </li>
              <li class="navigation__item">
                <a href="#" class="navigation__link">Attractions</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- nav links. -->

      </div>
      <!-- nav container -->

    </div>
    <!-- nav -->

    <!-- nav booking -->
    <div class="check">

      <!-- nav booking container -->
      <div class="container">
        <p>Looking for a place to stay? Enter details to see available rooms</p>

        <!-- check details -->
        <div class="check__details">

          <!-- nav check details form -->
          <form class="check__details-form">

            <!-- check date -->
            <div class="check__date">
              <i class="fa-solid fa-calendar-days"></i>
              <input
                type="text"
                placeholder="Check in"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"/>
              -
              <input
                type="text"
                placeholder="Check out"
                onfocus="(this.type='date')"
                onblur="(this.type='text')" />
            </div>
            <!-- check date -->

            <button type="submit" class="btn__check-submit">Search</button>
          </form>
          <!-- nav check details form -->

        </div>
        <!-- check details -->

      </div>
      <!-- nav booking container -->

    </div>
    <!-- nav booking -->
    
    <!-- main -->
    <main class="confirmation">
      
      <!-- container -->
      <div class="container">

        <!-- conatiner content -->
        <div class="content">
          <!-- content title -->
          <div class="title">
            <p><i class="fa-regular fa-square-check"></i> Confirmation</p>
          </div>
          <!-- content title -->

          <br />

          <!-- booking form -->
          <form action="#" id="" class="confirmation__form form">
            <div class="selected__room">
              <p><i class="fa-solid fa-key"></i> Selected date and room</p>
              <div class="form__group">
                <p>Check in date</p>
                <input disabled class="form__input" type="date" />
              </div>
              <div class="form__group">
                <p>Check out date</p>
                <input disabled class="form__input" type="date" />
              </div>
              <div class="form__header">
                <p>Selected room</p>
              </div>
              <div class="selected__room-details">
                <div class="form__group">
                  <p>Standard Twin</p>
                  <p><span id="standard-twin" class="rooms">2</span> Room(s)</p>
                </div>
                <div class="form__group">
                  <p>Superior Double</p>
                  <p><span id="standard-double" class="rooms">0</span> Room(s)</p>
                </div>
                <div class="form__group">
                  <p>Superior Twin</p>
                  <p><span id="superior-twin" class="rooms">0</span> Room(s)</p>
                </div>
                <div class="form__group">
                  <p>Standard Double</p>
                  <p><span id="superior-double" class="rooms">0</span> Room(s)</p>
                </div>
              </div>
              <div class="form__header">
                <p>Total Price:</p>
                <p>£<span id="price">124</span></p>
              </div>
            </div>
            <div class="payment__info">
              <p><i class="fa-solid fa-credit-card"></i> Payment information</p>
              <div class="form__group">
                <input class="form__input" type="text" name="name" id="name" placeholder="Name" />
              </div>
              <div class="form__group">
                <input class="form__input" type="email" name="email" id="email" placeholder="Email" />
              </div>
              <div class="form__group">
                <input class="form__input" type="text" name="address" id="address" placeholder="Address" />
              </div>
              <div class="form__group">
                <select class="form__input" name="card-type" id="card-type">
                  <option class="" value="" disabled selected>
                    Select your card type
                  </option>
                  <option value="V">Visa</option>
                  <option value="MC">Master Card</option>
                  <option value="A">American Express</option>
                </select>
              </div>
              <div class="form__group">
                <input 
                class="form__input" 
                maxlength="19"
                type="number" 
                name="card-number" 
                id="card-number" 
                placeholder="XXXX XXXX XXXX XXXX"
                />
              </div>
              <div class="form__group">
                <input class="form__input" type="text" name="expiry" id="expiry" placeholder="MM/YYYY"/>
              </div>
            </div>
            <p class="note">
              <i class="fa-solid fa-circle-info"></i> Note: Payment will be taken when you check out
            </p>

            <!-- book or go back -->
            <div class="form__buttons">
              <button type="reset" class="btn btn__form-back">Back</button>
              <button type="submit" class="btn btn__form-submit">Book</button>
            </div>
            <!-- book or go back -->

          </form>
          <!-- booking form -->

        </div>
        <!-- content -->

      </div>
      <!-- containers -->

    </main>
    <!-- main -->

    <!-- footer -->
    <footer class="footer">
      <!-- footer left -->
      <div class="footer__left footer__col">
        <form action="#" id="contactus" class="footer__form">
          <h4>Contact Us</h4>
          <div class="footer__form-details">
            <input type="text" name="name" id="" placeholder="Name" />
            <input type="email" name="" id="" placeholder="Email" />
          </div>
          <textarea class="footer__form-message" name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea>
        </form>
      </div>
      <!-- footer left -->

      <!-- footer center -->
      <div class="footer__center footer__col">
        <div class="footer__center-top">
          <p class="copyright">
            &copy; 2022 Earlharm Park Hotel All Rights Reserved
          </p>
          <ul class="footer__links">
            <li class="footer__link">About</li>
            <li class="footer__link">Privacy</li>
            <li class="footer__link">Cookies</li>
            <li class="footer__link">Terms</li>
            <li class="footer__link">Accessibility</li>
          </ul>
        </div>
        <div class="footer__center-icons">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-pinterest"></i>
        </div>
      </div>
      <!-- footer center -->

      <!-- footer right -->
      <div class="footer__right footer__col">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="600"
              height="500"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=Earlham%20Park,%20Norwich&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0">
            </iframe>
              <a href="#">divi discount</a>
              <br/>
          </div>
        </div>
      </div>
      <!-- footer right -->

    </footer>
    <!-- footer -->
  </body>
    <!-- body -->
</html>
